body {
  font-family: 'Arial', sans-serif;
  background: url('https://dsicom.es/assets/images/gradiente.png') no-repeat center center fixed;
  background-size: cover;
  --sb-track-color: #242527;
  --sb-thumb-color: #cfcfcf;
  --sb-size: 4px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
      scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
      }
}

/* Contenedor del grid */
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas */
  gap: 1.5rem; /* Espaciado entre los elementos */
  max-width: 1400px; /* Limitar el ancho total del grid */
  margin: 0 auto; /* Centrar el grid horizontalmente */
  padding: 0 1rem; /* Padding interno para los bordes */
  margin-top: 2rem;
}

/* Hacer que el grid sea responsive */
@media (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas en tablets */
  }
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr; /* 1 columna en móviles */
  }
}

.hero {
  display: inline-block;
  width: stretch;
  color: white;
  text-align: center;
}

.hero-title {
  color: #6cc832;
}

.hero-content {
  color: gray;
}

.category {
  background-color: #1e222717;
  border: solid 1px #929faf17;
  padding: 20px;
  border-radius: 8px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem; /* Espacio adicional debajo de cada caja de categoría */
}

.category-title {
  color: #b4b4b4;
  font-weight: 100;
  text-align: center;
  font-size: 20px;
  margin: 0.2rem;
  text-transform: capitalize;
}

.resource-card {
  display: flex;
  border: 1px solid #383e49;
  padding: 20px 20px;
  border-radius: 8px;
  transition: all 0.3s ease;
  background-color: #23272e4b;
  margin: 1rem 0;
  gap: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.resource-card:hover {
  background-color: #47505e4b;
  cursor: pointer;
}

.resource-card.expanded {
  display: inline-block;
  background-color: #47505e4b;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.397);
  padding: 20px 20px;
}

.resource-header {
  display: inline-block;
  align-items: center;
  margin: auto 0rem;
}

.resource-header h3 {
  padding: 0rem;
  margin: auto;
}

.resource-img {
  margin: auto 0rem;
}

.resource-card h3 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 10px;
  color: white;
}

.resource-thumbnail {
  width: 50px;
  height: 50px;
  border-radius: 10%;
  margin-right: 5px;
  transition: all 0.3s ease;
}

.expanded-thumbnail {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: fill;
  margin-bottom: 1.2rem;
}

.expanded-thumbnail {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: fill;
  margin-bottom: 1.2rem;
}

.resource-details {
  margin-top: 0px;
}


.resource-details p {
  margin: 0px;
  color: #afafb1;
  font-size: 16px;
}

.resource-link {
  display: block;
  width: stretch;
  text-align: center;
  margin-top: 1.5rem;
  padding: 10px 20px;
  background-color: #E05545;
  color: #fff;
  border-radius: 25px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.resource-link:hover {
  background-color: #b83c2e;
}

.resource-tags,
.expanded-tags {
  margin-top: 10px;
}

.resource-tags .tag,
.expanded-tags .tag {
  background-color: #6f7f923d;
  color: #ccc;
  border-radius: 12px;
  padding: 5px 10px;
  margin-right: 5px;
  font-size: 10px;
}

/* Contenedor de los filtros */
.filter-bar {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  flex-wrap: wrap; /* Permite que los filtros se ajusten a nuevas líneas */
  gap: 0rem; /* Espaciado entre los filtros */
  margin: 1rem auto; /* Espaciado arriba/abajo y auto para centrar */
  max-width: 1080px; /* Limita el ancho de la barra de filtros */
}

/* Estilo individual para los filtros */
.filter {
  padding: 0.5rem 1rem;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filter:hover {
  background-color: #9cee69; /* Cambia color al hacer hover */
}

.filter-button {
  background-color: #1e222717;
  border: solid 1px #929faf17;
  color: white;
  margin: 0.3rem 0.6rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
}

.filter-button.active {
  background-color: #b9d4ee28;
  border: solid 1px #b9d4ee28;
  color: white;
}

.filter-clear-button {
  background-color: #ff6e6100;
  color: white;
  text-decoration: underline;
  color: #dd7a6f;
  border: none;
  margin: 0.3rem 0.6rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
}

/* Estilo para el formulario compacto en dos columnas */

/* Estilos del formulario más compacto */
.add-resource-form {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 columnas */
  gap: 1rem 2rem;
  padding: 0px;
  background-color: #1e22270c; /* Fondo semitransparente */
  border-radius: 8px;
}

.input-field, .submit-button { /* Unimos los estilos de los campos y el botón */
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  width: 100%;
  height: 2rem; /* Altura consistente para todos los elementos */
}

.input-field {
  grid-column: span 2; /* Ocupa ambas columnas por defecto */
  border: 1px solid #ddd;
  background-color: #242527;
  color: #fff;
}

/* Para pantallas más grandes */
@media (min-width: 600px) {
  .input-field {
    grid-column: span 1; /* Ocupa una sola columna en pantallas más grandes */
  }
}

.submit-button {
  background-color: #e05545;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 2.5rem;
  justify-self: stretch;
}

.submit-button:hover {
  background-color: #b83c2e;
}

/* Ajustes para el último campo y el botón en la misma fila */
.input-field:nth-last-of-type(1) {
  grid-column: span 1;
}

.submit-button {
  grid-column: span 1; /* Alinea el botón con el último input */
}

.add-resource-form h3 {
  color: #b4b4b4;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.add-resource-form label {
  color: #b4b4b4;
  font-size: 0.8rem;
  display: block;
  margin-bottom: 0.2rem;
}

.add-resource-form input,
.add-resource-form textarea,
.add-resource-form select {
  width: 100%;
  padding: 5px;
  margin-bottom: 0.5rem; /* Reducido el margen entre los campos */
  background-color: rgba(35, 39, 46, 0.3);
  border: 1px solid #929faf17;
  border-radius: 5px;
  color: white;
  font-size: 0.8rem; /* Tamaño de fuente reducido */
}

.add-resource-form button {
  background-color: #E05545;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 0.9rem;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.add-resource-form button:hover {
  background-color: #b83c2e;
}

/* Organiza el formulario en 2 columnas en pantallas grandes */
.add-resource-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Por defecto, 1 columna */
  gap: 10px;
}

/* En pantallas grandes, organizamos el formulario en 2 columnas */
@media (min-width: 768px) {
  .add-resource-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas cuando sea posible */
  }
}

/* Botón para abrir el modal */
.open-modal-button {
  background-color: #b83c2e;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin: 1rem 0;
  transition: background-color 0.3s ease;
}

.open-modal-button:hover {
  background-color: #b83c2e;
}

/* Estilos para el modal */
/* Efecto de desenfoque */
.blur-background {
  filter: blur(10px);
  transition: filter 0.5s ease; /* Transición suave al desenfoque */
}

/* Estilo del modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Fondo oscuro con transparencia */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Asegurarse de que esté por encima del contenido */
}

.modal-content {
  background-color: #24252771;
  padding: 10px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  position: relative;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #f14734;
}

/* Evita que el modal tenga desenfoque */
.modal-content {
  filter: none;
}


.close-modal:hover {
  color: #ccc;
}

/* El contenido del formulario en el modal */
.add-resource-form {
  background-color: transparent; /* Sin fondo para que encaje con el modal */
  padding: 1rem;
  max-width: 100%;
  margin: 1rem;
}

/* Botón + para añadir recurso en cada categoría */
.add-resource-button {
  background-color: #b83c2e;
  color: white;
  font-size: 1.5rem;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.add-resource-button:hover {
  background-color: #eb5848;
}

.category-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.search-bar {
  width: 100%;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #ddd;
}

.filter-list {
  display: flex;
  gap: 10px;
}

footer {
  background-color: rgba(30, 34, 39, 0.1); /* Color de fondo similar al resto de la página */
  padding: 1.5rem 0;
  text-align: center;
  color: #b4b4b4; /* Color de texto gris claro acorde al diseño */
  font-size: 0.9rem; /* Tamaño de fuente ligeramente más pequeño */
  border-top: 1px solid rgba(146, 159, 175, 0.1); /* Línea superior suave */
  margin-top: 2rem; /* Espacio superior */
}

footer a {
  color: #6cc832; /* Enlaces en verde brillante */
  text-decoration: none; /* Sin subrayado */
  transition: color 0.3s ease;
}

footer a:hover {
  color: #b83c2e; /* Cambia el color del enlace al hacer hover */
}
