body {
  font-family: 'IBM Plex Sans', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.category {
  background-color: var(--box-background);
  padding: 20px;
  border-radius: 12px;
  box-shadow: var(--box-shadow);
}

.resources-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.resource-card {
  padding: 15px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.resource-card:hover {
  transform: scale(1.05);
}

.resource-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tags {
  display: flex;
  gap: 10px;
}

.tag {
  background-color: var(--tag-background);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
}

.tag i {
  margin-right: 5px;
}

/* Modo expandido */
.resource-card.expanded {
  border: 2px solid var(--highlight-color);
  background-color: var(--box-background-expanded);
}

.collapsed-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.thumbnail {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.full-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.resource-link {
  display: inline-block;
  padding: 10px 15px;
  background-color: var(--highlight-color);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 15px;
}
